/* Fortune Page itself, OneFortune and FortuneJumbotron */
.span-fortune-match {
    color: $secondary-color;
    font: 15px $stylish-font;
}
.container-cuttlefish {
    align-items: center;
    align: center;
    align-content: center;
}
