/* Homepage form, radio buttons */
.auraOne {
    color: $pink-one;
    background-color: $pink-one;
}
.auraTwo {
    color: $gold-two;
    background-color: $gold-two;
}
.auraThree {
    color: $medium-spring-green;
    background-color: $medium-spring-green;
}
.auraFour {
    color: $cyan-four;
    background-color: $cyan-four;
}
.auraFive {
    color: $medium-slate-blue-five;
    background-color: $medium-slate-blue-five;
}
.auraSix {
    color: $secondary-color;
    background-color: None;
}
.auraSeven {
    color: $medium-violet-red-seven;
    background-color: $medium-violet-red-seven;
}
.auraEight {
    color: $snow-eight;
    background-color: $snow-eight;
}
.auraNine {
    color: $lime-green-nine;
    background-color: $lime-green-nine;
}
.auraTen {
    color: $dodger-blue-ten;
    background-color: $dodger-blue-ten;
}
.auraEleven {
    color: $indigo-eleven;
    background-color: $indigo-eleven;
}
.auraTwelve {
    color: $dimgray-twelve;
    background-color: $dimgray-twelve;
}
.auraThirteen {
    color: $orange-thirteen;
    background-color: $orange-thirteen;
}
